.first {
    width: 100vw;
    height: 100vh;
    background-color: #370617;
}

.container {
    display: flex;
    max-width: 80%;
    height: 90%;
    padding: 20px;
    margin: auto;
    flex-wrap: wrap;
    
}

.card {
    background-color: #FAA307;;
    border-radius: 15px;
    min-width: 400px;
    max-width: 600px;
    max-height: 200px;
    margin: 10px;
    display: flex;
    flex-grow: 1;
}

.flex-item {
    background-color: #9D0208;
    border-radius: 4px;
    margin: 20px;
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
}







.card-1 {
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-item-1 {
    
}

.flex-item-2 {
    
}

.flex-item-3 {
    
}





.card-2 {
    justify-content: center;
    
}

.flex-item-4 {
    
}

.flex-item-5 {
    
}

.flex-item-6 {
    
}





.card-3 {
    justify-content: end;
    align-items: center;
}

.flex-item-7 {
    
}

.flex-item-8 {
    
}

.flex-item-9 {
    
}





.card-4 {
    justify-content: space-between;
}

.flex-item-10 {
    align-self: flex-start;
}

.flex-item-11 {
    align-self: flex-start;
}

.flex-item-12 {
    align-self: flex-end;
}





.card-5 {
    justify-content: space-evenly;
}

.flex-item-13 {
    
}

.flex-item-14 {
    align-self: center;
}

.flex-item-15 {
    
}





.card-6 {
    justify-content: center;
    align-items: center;
}

.flex-item-16 {

}

.flex-item-17 {
    flex-grow: 2;
}

.flex-item-18 {
    
}