section {
    width: 100vw;
    height: 100vh;
    background-color: #370617;
}

.container {
    display: flex;
    max-width: 80%;
    height: 90%;
    padding: 20px;
    margin: auto;
    flex-wrap: wrap;
    
}

.flex__container {
    background-color: #FAA307;;
    border-radius: 15px;
    min-width: 400px;
    max-width: 600px;
    max-height: 200px;
    margin: 10px;
    display: flex;
    flex-grow: 1;
}

.flex__item {
    background-color: #9D0208;
    border-radius: 4px;
    margin: 20px;
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
}







.flex__container__1 {
    justify-content: flex-start;
    align-items: flex-end;
}






.flex__container__2 {
    justify-content: center;
    
}







.flex__container__3 {
    justify-content: end;
    align-items: center;
}







.flex__container__4 {
    justify-content: space-between;
}

.flex__item__10 {
    align-self: flex-start;
}

.flex__item__11 {
    align-self: flex-start;
}

.flex__item__12 {
    align-self: flex-end;
}





.flex__container__5 {
    justify-content: space-evenly;
}



.flex__item__14 {
    align-self: center;
}







.flex__container__6 {
    justify-content: center;
    align-items: center;
}



.flex__item__17 {
    flex-grow: 2;
}

